<h3>Manage Projects</h3>
<form ng-submit="MC.addProject()">
    <div>
        <input type="text" placeholder="Add Project" ng-model="MC.name">
        <input type="submit" value="Submit" ng-click="MC.addProject">
    </div>
</form>
<table class="table">
    <thead>
        <th>Project</th>
        <th>Total Hours</th>
        <th>Actions</th>
    </thead>
    <tr ng-repeat="project in MC.projects">
        <td>{{ project.name }}</td>
        <td>{{ project.sum || '0' }}</td>
        <td><input type="button" value="Delete" ng-click="MC.deleteProject( project.id )"></td>
    </tr>
</table>